@page
@model Sablou_Web.Pages.Kataloger.RedigerKatalogModel
@using Sablou_Web.Models
@{
}
<h2>Chokolade liste</h2>
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chokolade in Model.Repo.ChokoladeRepository.Data.Values)
        {
            <tr>
                <td>@chokolade.Navn</td>
                <td>
                    <span class="badge @((Model.IdListe.Contains(chokolade.Id)) ? "bg-success" : "bg-danger")">
                        <div>@((Model.IdListe.Contains(chokolade.Id)) ? "Er i kataloget" : "Er ikke i kataloget" )</div>
                    </span>
                </td>
                <td>
                    <form method="post" class="d-inline">
                        <button type="submit" asp-page-handler="OpdaterKatalog" asp-route-id="@Model.Kataloget.Id" asp-route-cid="@chokolade.Id"
                            class="btn btn-sm btn-outline-primary me-2">
                            @(Model.IdListe.Contains(chokolade.Id) ? "Fjern" : "Tilføj")
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
