@page
@model Sablou_Web.Pages.Chokolader.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chokolader[0].Navn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chokolader[0].Stykpris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chokolader[0].Beskrivelse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chokolader) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                    @($"{item.Stykpris:0.00} Kroner.")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beskrivelse)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
