@page
@model Sablou_Web.Pages.Brugere.BrugerlisteModel
@{
}

<h2>Brugerliste</h2>

<table class="table table-striped">
    <thead>
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="SearchString" class="form-control mr-1" placeholder="Søg efter Email" />
                <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn btn-primary" />
            </div>
        </form>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Rolle</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var b in Model.Brugere)
    {
        <tr>
            <td>@b.Navn</td>
            <td>@b.Email</td>
            <td>@(b.Telefonnummer?.ToString() ?? "")</td>

            <td>@b.Rolle
                    <span>
                        <form method="post" asp-page-handler="SkiftRolle" class="d-inline">
                            <input type="hidden" name="id" value="@b.Id" />
                            <button type="submit" class="btn btn-sm btn-secondary">
                                @(b.Rolle == "Admin" ? "Gør til kunde" : "Gør til admin")
                            </button>
                        </form>
                    </span>
            </td>
                  
        </tr>
    }
    </tbody>
</table>
