@page
@model Sablou_Web.Pages.Brugere.BrugerOprettelseModel
@{
}
<h1 class="display-5 mb-3">Opret ny Bruger</h1>

<form method="post">
    <div class="form-group mb-3">
        <div class="form-group mb-3">
            <label asp-for="@Model.Element.Navn" class="control-lable"></label>
            <input asp-for="@Model.Element.Navn" class="form-control" />
        </div>
    <div>
        <label asp-for="@Model.Element.Email" class="control-lable"></label>
        <input asp-for="@Model.Element.Email" class="form-control" type="email" />
    </div>
    <div class="form-group mb-3">
            <label asp-for="@Model.Element.Telefonnummer" class="control-lable"></label>
            <input asp-for="@Model.Element.Telefonnummer" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.Element.Adresse" class="control-lable"></label>
        <input asp-for="@Model.Element.Adresse" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.Element.Password" class="control-lable"></label>
        <input asp-for="@Model.Element.Password" class="form-control" type="password" />
    </div>
    </div>
 </form>
